
html, body, h1, form, fieldset, legend, ol, li
 
{
 
    margin: 0;
 
    padding: 0;
 
}
 
body
 
{
 
    background: #ffffff;
 
    color: #111111;
 
    font-family: Georgia, "Times New Roman", Times, serif;
 
    padding : 20px;
 
}
 
form#mycontact
 
{
 
    background: #9cbc2c;
 
    -moz-border-radius: 5px;
 
    -webkit-border-radius: 5px;
 
    padding: 20px;
 
    width: 400px;
 
    height: 150px;
 
}
 
form#mycontact fieldset
 
{
 
    border: none;
 
    margin-bottom: 10px;
 
}
 
form#mycontact fieldset:last-of-type
 
{
 
    margin-bottom: 0;
 
}
 
form#mycontact legend
 
{
 
    color: #384313;
 
    font-size: 16px;
 
    font-weight: bold;
 
    padding-bottom: 10px;
 
}
 
form#mycontact > fieldset > legend:before
 
{
 
    content: "Step " counter(fieldsets) ": ";
 
    counter-increment: fieldsets;
 
}
 
form#mycontact fieldset fieldset legend
 
{
 
    color: #111111;
 
    font-size: 13px;
 
    font-weight: normal;
 
    padding-bottom: 0;
 
}
 
form#mycontact ol li
 
{
 
    background: #b9cf6a;
 
    background: rgba(255,255,255,.3);
 
    border-color: #e3ebc3;
 
    border-color: rgba(255,255,255,.6);
 
    border-style: solid;
 
    border-width: 2px;
 
    -moz-border-radius: 5px;
 
    -webkit-border-radius: 5px;
 
    line-height: 30px;
 
    list-style: none;
 
    padding: 5px 10px;
 
    margin-bottom: 2px;
 
}
 
form#mycontact ol ol li
 
{
 
    background: none;
 
    border: none;
 
    float: left;
 
}
 
form#mycontact label
 
{
 
    float: left;
 
    font-size: 13px;
 
    width: 110px;
 
}
 
form#mycontact fieldset fieldset label
 
{
 
    background:none no-repeat left 50%;
 
    line-height: 20px;
 
    padding: 0 0 0 30px;
 
    width: auto;
 
}
 
form#mycontact fieldset fieldset label:hover
 
{
 
    cursor: pointer;
 
}
 
form#mycontact textarea
 
{
 
    background: #ffffff;
 
    border: none;
 
    -moz-border-radius: 3px;
 
    -webkit-border-radius: 3px;
 
    -khtml-border-radius: 3px;
 
    font: italic 13px Georgia, "Times New Roman", Times, serif;
 
    outline: none;
 
    padding: 5px;
 
    width: 200px;
 
}
 
form#mycontact input:not([type=submit]):focus,
 
form#mycontact textarea:focus
 
{
 
    background: #eaeaea;
 
}
 
form#mycontact button
 
{
 
    background: #384313;
 
    border: none;
 
    float:left;
 
    -moz-border-radius: 20px;
 
    -webkit-border-radius: 20px;
 
    -khtml-border-radius: 20px;
 
    border-radius: 20px;
 
    color: #ffffff;
 
    display: block;
 
    font: 14px Georgia, "Times New Roman", Times, serif;
 
    letter-spacing: 1px;
 
    margin: 7px 0 0 5px;
 
    padding: 7px 20px;
 
    text-shadow: 0 1px 1px #000000;
 
    text-transform: uppercase;
 
}
 
form#mycontact button:hover
 
{
 
    background: #1e2506;
 
    cursor: pointer;
 
}